<%= form_for(badge_task) do |f| %>
  <% if badge_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(badge_task.errors.count, "error") %> prohibited this badge_task from being saved:</h2>

      <ul>
      <% badge_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :task_id %>
    <%= f.number_field :task_id %>
  </div>

  <div class="field">
    <%= f.label :badge_id %>
    <%= f.number_field :badge_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
