<p id="notice"><%= notice %></p>

<h1>Badge Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Task</th>
      <th>Badge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @badge_tasks.each do |badge_task| %>
      <tr>
        <td><%= badge_task.name %></td>
        <td><%= badge_task.task_id %></td>
        <td><%= badge_task.badge_id %></td>
        <td><%= link_to 'Show', badge_task %></td>
        <td><%= link_to 'Edit', edit_badge_task_path(badge_task) %></td>
        <td><%= link_to 'Destroy', badge_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Badge Task', new_badge_task_path %>
