<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @badge_task.name %>
</p>

<p>
  <strong>Task:</strong>
  <%= @badge_task.task_id %>
</p>

<p>
  <strong>Badge:</strong>
  <%= @badge_task.badge_id %>
</p>

<%= link_to 'Edit', edit_badge_task_path(@badge_task) %> |
<%= link_to 'Back', badge_tasks_path %>
